body {
    background-color: black;
}

a {
    color: aqua;
}

a:hover {
    color: whitesmoke;
}

a.regular-a {
    color: #0366d6;
}

p.match-a-blue {
    color: #0366d6;
}

.display-main {
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 100px;
}

.display-second {
    color: azure;
    font-family: cursive;
    font-size: 70px;
}

p {
    color:ghostwhite;
}

p.regular-black {
    color: black;
}

label.mission-statement-label {
    color: white;
    font-size: larger;
    font-family: 'Times New Roman';
    padding-bottom: 10px;
}

table {
    background-color: white;
}

th {
    color: black;
    font-family: 'Times New Roman';
    font-size: 20px;
}

.mission-statement {
    font-family: fantasy;
}

footer {
    background-color: white;
}
