
@model Product;

@{
    ViewData["Title"] = "Add Product";
}

<div class="text-center">
    <h1 class="display-4">Add Product</h1>
</div>

<div class="container">

    <form asp-controller="Admin" asp-action="AddProductToDB" EncType="multipart/form-data">

        <!-- company id -->
        <select class="form-select" aria-label="Default select example"
                asp-for="ReferenceID">
            @foreach (Company company in ViewBag.Companies)
            {
                <option value="@company.ID">@company.Name</option>
            }
        </select>

        <!-- name of product -->
        <label class="lead">Name: </label>
        <input type="text" placeholder="Dancing" class="form-control"
               asp-for="Name" required/>

        <!-- price of product -->
        <label class="lead">Price: </label>
        <input type="number" step="0.01" placeholder="0.00" class="form-control"
               asp-for="Price" required/>

        <!-- description of product -->
        <label class="lead">Description: </label>
        <input type="text" placeholder="Express yourself! Feel the beat! Feel the music! Feel Alive!" class="form-control"
               asp-for="Description" required/> <br />

        <!-- discount switch -->
        <div class="form-check form-switch container">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                   asp-for="DiscountBool">
            <label class="form-check-label" for="flexSwitchCheckDefault">Discount Switch</label>
        </div>

        <!-- discount percentage -->
        <label class="lead">Discount Percentage:</label>
        <input type="number" placeholder="0.00" step="0.01" class="form-control"
               asp-for="DiscountPercentage" /> <br />

        <!-- product thumbnail -->
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile"
                   asp-for="UploadThumbnail" required>
            <label class="custom-file-label" for="customFile">Choose Thumbnail for Product</label>
        </div>

        <!-- product carousl of images -->
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Select Multiple Image for Carousel</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple
                   asp-for="UploadImageCarousel" required>
        </div>

        <!-- flag product -->
        <div class="form-check form-switch container">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                   asp-for="Flag">
            <label class="form-check-label" for="flexSwitchCheckDefault">Flag Switch</label>
        </div> <br />

        <input type="submit" class="btn btn-success" />

    </form>

</div>
