
@{
    ViewData["Tite"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administration</h1>
</div>

<!-- buttons -->
<div class="container text-center">

    <a asp-controller="Admin" asp-action="AddCompanyView"
       class="btn btn-primary">Add Company</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mission Statement</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Company company in ViewBag.Companies)
            {
                <tr>
                    <th scope="row">@company.Name</th>
                    <td>@company.Address</td>
                    <td>@company.MissionStatment</td>
                    <td>
                        <a class="btn btn-success"
                           asp-controller="Admin" asp-action="DisplayCompanyInfo"
                           asp-route-companyID="@company.ID">
                            Manage Company
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
