
@{
    ViewData["Tite"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administration</h1>
</div>

<!-- buttons -->
<div class="container">
    <a asp-controller="Admin" asp-action="AddProductView"
       class="btn btn-primary">Add Product</a>
</div>
