
@{
    ViewData["Tite"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-main">Administration</h1>
</div>

<!-- buttons -->
<div class="container text-center">

    <a asp-controller="Admin" asp-action="AddCompanyView"
       class="btn btn-primary">Add Company</a> <br /><br />

    <!-- MESSAGES FOR COMPANIES HIRING-->
    <div class="alert alert-danger" role="alert">
        View but please don't manipulate/change anything in Vanessa/Jose Companies.
        I added a Test Company for you to play around with.
    </div>
    <div class="alert alert-primary" role="alert">
        Feel Free to add a Company! Add Products the Test Company, or the Company that you just added!
        Test all the features!
        - ADD
        - UPDATE
        - DELETE
    </div>
    <div class="alert alert-success" role="alert">
        It is recommended to have two tabs open. One to manage and update the company and the other to
        view the change on the main home page! This way you can stay logged in to the admin. Admin uses sessions and
        once you leave admin it will log you off for security reasons.
    </div>

    <!-- TABLE-->

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mission Statement</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Company company in ViewBag.Companies)
            {
                <tr>
                    <td scope="row">@company.Name</td>
                    <td>@company.Address</td>
                    <td>@company.MissionStatment</td>
                    <td>
                        <a class="btn btn-success"
                           asp-controller="Admin" asp-action="DisplayCompanyInfo"
                           asp-route-companyID="@company.ID">
                            Manage Company
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
