
@{
    ViewData["Title"] = "About Jose Garcia";
}

<div class="container">
    <h1 class="display-main">Jose Garcia</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col-4">
            <p>Hello nice to meet you! My name is Jose Garcia, I'm 23 years old, and I like to have fun! I spend my free time building
            websites using but not limited to</p>
            <ul>
                <li>ASP.Net CORE</li>
                <li>MVC</li>
                <li>MSSQL</li>
                <li>Azure</li>
                <li>CI/CD</li>
            </ul>
            <p>I have my Bachelor's Degree in Computer Science from California State University of Los Angeles and
            I love to code!</p>
        </div>

        <div class="col-4">
            <img class="about"
                 src="~/Images/about/codewars.png"/>
            <p>CodeWars is a website where you can practice solving problems.
            The Website ranks problems by levels. Inorder for code to be submitted to solutions it
            has to pass all the tests given by CodeWars! So you know the code is written well!</p>
            <a target="_blank"
               href="https://www.codewars.com/users/josejesusgarciajr/completed_solutions">
                View the way I approach problems!
            </a>
        </div>

        <div class="col-4">
            <img class="about"
                 src="~/Images/about/github.png" />
            <p>What type of programmer would I be if I didn't use GitHub!
            I am constantly making commits to git. Helping the world one line of code at a time!</p>
            <a target="_blank"
               href="https://github.com/josejesusgarciajr"
               >Check out my GitHub!</a>
        </div>

    </div>

</div>